.contentAll{
    padding: 2em;
    width: 550px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 2.0em;
}

.contentAll h1{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 20pt;
}

.contentAll p{
    color: #7b7b7b;
    margin-bottom: 1.5em;
}

.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.formControl label{
    margin-bottom: .6em;
    font-weight: bold;
    font-size: 14pt;
}

.formControl input{
   padding: .7em;
   border-radius: 0;
   border: none;
}

.formControl input::placeholder{
    color: #7b7b7b;
}

.formControl select{
    border: none;
    border-radius: 0;
    padding: 0.7em;
}

.btn{
    background-color: #17c4b5;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover{
    transform: scale(1.05);
    border: 1px black solid;
    background-color: lightblue;
}
.errorNome{
    color: red;
}
.errorCategoria{
    color: red;
}
.errorGastos{
    color: red;
}