.content{
}
.contentProjetos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.header{
    display: flex;
    justify-content: center;
}
.content:after{
    content: "";
    display: table;
    clear: both;
}

.title{
    padding: 1.5em;
    font-size: 17pt;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.btn{
    background-color: #17c4b5;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.areaBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 34px;
    text-align: center;
    background-color: #f1f1f1;
}

.areaBtn h2{
    text-align: center;
    padding: 1em;
    font-weight: bold;
    font-size: 14pt;
}

.btn:hover{
    transform: scale(1.05);
    border: 1px black solid;
    background-color: lightblue;
}

.icon{
    color: #17c4b5;
    font-size: 30pt;
    transition: 0.5s;
}
.icon:hover{
    color: lightblue;
    transform: scale(1.2);
}

.contentLoadingMessage{
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 16pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    justify-content: center;
}

.contentLoadingMessage p{
    width: 200px;
}