.contentProjetos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #38C292;
    height: 60px;
    width: 250px;
    margin-bottom: 1.5em;
    margin-top: 1em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.content:after{
    content: "";
    display: table;
    clear: both;
}

.title{
    padding: 1.5em;
    font-size: 17pt;
}

.btn{
    background-color: #17c4b5;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.areaBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 34px;
    text-align: center;
    background-color: #f1f1f1;
}

.areaBtn h2{
    text-align: center;
    padding: 1em;
    font-weight: bold;
    font-size: 14pt;
}

.btn:hover{
    transform: scale(1.05);
    border: 1px black solid;
    background-color: lightblue;
}

.icon{
    color: #38C292;
    font-size: 30pt;
    transition: 0.5s;
}
.icon:hover{
    color: lightblue;
    transform: scale(1.2);
}

.contentLoadingMessage{
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 16pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    justify-content: center;
    transition: 2s;
}

.contentLoadingMessage p{
    width: 200px;
}

.messageAlert{
    z-index: 1100;
    bottom: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.messageAlert p{
    font-size: 13pt;
    border: 1px black solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 1em;
}

.messageAlert svg{
    color: #b50703;
    font-size: 17pt;
    margin-right: 1em;
}